<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        
    </style>
    <title>Unique tester</title>
</head>
<body>
    <main>
        <form action="" method="POST">
            <h1>Unique-tester</h1>
            <div>
                <label for="">ИД таблицы</label>
                <input type="text" id="status" name="spreadsheetId">
                <label for="">Лист таблицы</label>
                <input type="text" id="status" name="rangeSheetTitle">
                <label for="">Колонка для статуса</label>
                <input type="text" id="status" name="columnCheckStatus">
                <label for="">Колонка для названия документа</label>
                <input type="text" id="doc" name="columnBkTitle">
                <label for="">Колонка для ссылок</label>
                <input type="text" id="links" name="columnDockLink">
                <label for="">Колонка для первого плагиата</label>
                <input type="text" id="plag-1" name="clumnFirstAntiPlag">
                <label for="">Колонка для второго плагиата</label>
                <input type="text" id="plag-2" name="clumnSecondAntiPlag">
                <label for="">Колонка для кол-ва слов</label>
                <input type="text" id="words" name="clumnWordsNumber">
            </div>
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>